.Bottom{
  padding-top: 50px;
text-align: center;
  background: linear-gradient(90deg, rgb(255, 255, 166) 0%, rgb(193, 134, 53) 100%);

.footer{

}
  .subscribe{
    padding-bottom: 50px;
  }

.under_footer{
display: flex;
  justify-content: center;
  gap: 100px;
}
  .col{
    display: grid;

    justify-content: center;
  }
  img{
    width: 100px;
    height: 100px;
  }




}