.Top {
  align-items: center;
  background: linear-gradient(90deg, #ffffa6 0%, #c18635 100%);
  top: 0;
  z-index: 999;
  padding-bottom: 20px;
}

.Top nav {
  position: sticky;
}

.Top button {
  background-color: darkblue;
  border: goldenrod 2px groove;
}

.Top ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.Top .header {
  display: flex;
  text-align: left;
  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: center;
}

.Top ul {
  list-style: none;

}

.Top hr {
  /*width: 20%;*/
}

.Top img {
  width: 70px;
  height: 70px;
}

.Top a {
  font-size: 30px;
}

@media screen and (max-width: 700px) {
  .Top button a {
    font-size: 1px;
  }
  .Top .header {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
  }
  .Top ul {
    font-size: 1px;
  }
}

@media only screen and (max-width: 767px) {
  .Top #git, .Top img, .Top h3, .Top .burger {
    display: none;
  }
  .Top li a {
    font-size: 20px;
  }
}
