.Top{

  align-items: center;
  background: linear-gradient(90deg, rgb(255, 255, 166) 0%, rgb(193, 134, 53) 100%);
  position: sticky;
  top: 0;
  z-index: 999;
  padding-bottom: 20px;

  button{
    background-color: darkblue;
    border: goldenrod 2px groove;
  }

  ul{
    display: flex;
    justify-content:space-around;
    list-style-type:none;
  }
  .header{
    display: flex;
    text-align: left;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
  }

  ul{
  list-style: none;
  }
  hr {
  /*width: 20%;*/
  }

  img{
    width: 70px;
    height: 70px;
  }
  a{
    font-size: 30px;
  }

  @media screen and (max-width: 700px) {
  button{
    a{
      font-size: 1px;
    }
  }
  .header{
  display: grid;
  grid-template-columns: 100px 10px;
  gap:0px;
  }
  ul{
    font-size: 1px;
  }
}
}